.welcome-span{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.logo-img{
    height: 75px;
}
/* .right-0-2-5.rw-container-right{
    display: none;
}
.daysPanel-d5-0-2-40{
    display: none;
} */