
.date {
    font-size: 11px
}

.comment-text {
    font-size: 20px;
    margin-left: 13px;
    
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
.comment-wrapper{
    
    /* margin-left: -380px; */
    margin-top: 40px;
;
}
.commenting-box{
    border: solid 2px gray;
    max-height: 250px;
    overflow: scroll;
    max-width: 500px;
    margin-left: -175px;
    
}
.commenting-form{
    margin-left: -12px;
    margin-top: 35px;
}

#deleteComment{
    margin-left: -19px;
}
